<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="36" android:compileSdkVersionCodename="16" coreApp="true" package="android.miui.home.launcher.res" platformBuildVersionCode="36" platformBuildVersionName="16">
    <application android:extractNativeLibs="false"/>
    <overlay android:isStatic="true" android:priority="100" android:requiredSystemPropertyName="ro.miui.product.home" android:requiredSystemPropertyValue="com.miui.home" android:targetPackage="android"/>
</manifest>
