<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="36" android:compileSdkVersionCodename="16" package="com.android.internal.systemui.navbar.threebutton" platformBuildVersionCode="36" platformBuildVersionName="16">
    <overlay android:category="com.android.internal.navigation_bar_mode" android:priority="1" android:targetPackage="android"/>
    <application android:extractNativeLibs="true" android:hasCode="false" android:label="@string/navigation_bar_mode_title"/>
</manifest>
