<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="33" android:compileSdkVersionCodename="13" coreApp="true" package="com.android.stk.overlay.miui" platformBuildVersionCode="33" platformBuildVersionName="13">
    <application android:hasCode="false"/>
    <overlay android:isStatic="true" android:priority="1000" android:targetPackage="com.android.stk"/>
</manifest>
