<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="34" android:compileSdkVersionCodename="14" package="com.android.overlay.gmstelephony" platformBuildVersionCode="34" platformBuildVersionName="14">
    <application android:extractNativeLibs="false" android:hasCode="false"/>
    <overlay android:isStatic="true" android:priority="0" android:targetPackage="com.android.phone"/>
</manifest>
