<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="35" android:compileSdkVersionCodename="15" coreApp="true" package="com.miui.wallpaper.overlay" platformBuildVersionCode="35" platformBuildVersionName="15">
    <application android:extractNativeLibs="false"/>
    <overlay android:isStatic="true" android:priority="5" android:requiredSystemPropertyName="ro.boot.hwversion" android:requiredSystemPropertyValue="4.9.1" android:targetPackage="android"/>
</manifest>
