<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="36" android:compileSdkVersionCodename="16" package="com.miui.systemui.devices.overlay" platformBuildVersionCode="36" platformBuildVersionName="16">
    <overlay android:isStatic="true" android:priority="1" android:targetPackage="com.android.systemui"/>
    <application android:extractNativeLibs="false" android:hasCode="false" android:label="DevicesOverlay"/>
</manifest>
